.box1{
    height: 285.2px;
    width: 308.8px;
    border: none;
    border-radius: 1rem;
    box-sizing: border-box;
    background: linear-gradient(45deg,  #3a052e 20%,
  #0e0328 70%);
}

.box1 h3{
    font-size: 1.5rem;  
    padding-top: 1rem;
    padding-left: 12px;
    font-weight: bold;
    color: white;
    padding-bottom: 0.4rem;
}

.box1 p{
    font-size: 1rem;
    padding-left: 12px;
    padding-right: 12px;
    color: gray;
    font-weight: 600;
    line-height: 1.3;
}

.more h4{
    font-size: 1.5rem;
    margin-left: 9.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
    padding-top: 4rem;
}

.more{
    background-color: black;
 
}

.container1{
    height: 100%;
    width: 100%;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 9.5rem;
}